<h2><%= @current_path %></h2>

<form>
    <hidden id="code-snippet-saved" hidden><%= File.read(@current_path) %></hidden>
    <textarea 
        id="code-snippet"
        data-language="<%= translate_extention_to_mime_type(@extension) %>"
    ></textarea>
    
</form>