<h2><%= @current_path %></h2>

<form>
    <hidden id="code-snippet-saved" hidden><%= File.read(@current_path) %></hidden>
    <div
        id="code-snippet"
        class="firepad-container"
        data-language="<%= translate_extention_to_mime_type(@extension) %>"
        data-path="<%= @current_path %>"
    ></div>
    
</form>