<h2><%= @current_path %></h2>

<form>
    <textarea id="code-snippet"><%= File.read(@current_path) %></textarea>
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code-snippet"), {
            lineNumbers: true,
            matchBrackets: true,
            mode: '<%= translate_extention_to_mime_type(@extension) %>',
            indentUnit: 4,
            indentWithTabs: true
        });
    </script>
    
</form>